<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <application>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.AlarmSetting"
            android:exported="false"
            android:label="알림 설정"
            android:parentActivityName=".ui.MainMenu"
            android:theme="@style/Theme.changeScreen" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.EmotionInstructionSortingPopup"
            android:exported="false"
            android:label="감정 선택"
            android:theme="@style/Theme.dialogue" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.EmotionSortingPopup"
            android:exported="false"
            android:label="감정 선택"
            android:theme="@style/Theme.dialogue" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.FindPassword"
            android:exported="false"
            android:parentActivityName=".ui.Login"
            android:theme="@style/Theme.changeScreen" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.ChangeNickname"
            android:exported="false"
            android:label="닉네임 변경"
            android:parentActivityName=".ui.AccountSetting"
            android:theme="@style/Theme.changeScreen" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.ChangePassword"
            android:exported="false"
            android:label="비밀번호 변경"
            android:parentActivityName=".ui.AccountSetting"
            android:theme="@style/Theme.changeScreen" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.AccountSetting"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.MainMenu"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.DiaryResultEdit"
            android:exported="false"
            android:theme="@style/Theme.Main"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.DiaryResult"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TraumaDiaryReflection"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TraumaDiaryEmotion"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TraumaDiaryThought"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TraumaDiarySituation"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TodayDiaryReflection"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TodayDiaryThought"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TodayDiarySituation"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TodayDiaryEmotion"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:name=".ui.RecordMindChoice"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.Diary"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.EmotionInstructions"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.MainPage"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.Login"
            android:exported="true"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.Join"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>