<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <application>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.AlarmSettingActivity"
            android:exported="false"
            android:label="알림 설정"
            android:parentActivityName=".ui.MainMenuActivity"
            android:theme="@style/Theme.changeScreen" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.EmotionInstructionSortingPopup"
            android:exported="false"
            android:label="감정 선택"
            android:theme="@style/Theme.dialogue" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.EmotionSortingPopup"
            android:exported="false"
            android:label="감정 선택"
            android:theme="@style/Theme.dialogue" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.FindPasswordActivity"
            android:exported="false"
            android:parentActivityName=".ui.LoginActivity"
            android:theme="@style/Theme.changeScreen" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.ChangeNicknameActivity"
            android:exported="false"
            android:label="닉네임 변경"
            android:parentActivityName=".ui.AccountSettingActivity"
            android:theme="@style/Theme.changeScreen" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.ChangePasswordActivity"
            android:exported="false"
            android:label="비밀번호 변경"
            android:parentActivityName=".ui.AccountSettingActivity"
            android:theme="@style/Theme.changeScreen" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.AccountSettingActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.MainMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.DiaryResultEditActivity"
            android:exported="false"
            android:theme="@style/Theme.Main"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.DiaryResultActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TraumaDiaryReflectionActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TraumaDiaryEmotionActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TraumaDiaryThoughtActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TraumaDiarySituationActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TodayDiaryReflectionActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TodayDiaryThoughtActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TodayDiarySituationActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TodayDiaryEmotionActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:name=".ui.RecordMindChoiceActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.DiaryActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.EmotionInstructions"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.MainPageActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.JoinActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>