<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.mymindnotes">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMindNotes"
        tools:targetApi="31">
        <activity
            android:name=".Diary_Result_Edit"
            android:exported="false"
            android:theme="@style/Theme.Main"/>
        <activity
            android:name=".Diary_Result"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Old_Reflection"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Old_Emotion"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Old_Thought"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Old_Situation"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Record_Result"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".New_Reflection"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".New_Thought"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".New_Situation"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".New_Emotion"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".RecordMindChoice"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Diary"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".EmotionInstructions"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".MainPage"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Join"
            android:exported="false"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>