<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.mymindnotes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".hilt.HiltApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMindNotes"
        android:usesCleartextTraffic="true"
        tools:targetApi="32">

        <receiver
            android:name=".AlarmBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".AlarmSetting"
            android:exported="false"
            android:label="알림 설정"
            android:parentActivityName=".presentation.ui.MainMenu"
            android:theme="@style/Theme.changeScreen" />
        <activity
            android:name=".EmotionInstructionSortingPopup"
            android:exported="false"
            android:label="감정 선택"
            android:theme="@style/Theme.dialogue" />
        <activity
            android:name=".EmotionSortingPopup"
            android:exported="false"
            android:label="감정 선택"
            android:theme="@style/Theme.dialogue" />
        <activity
            android:name=".presentation.ui.FindPassword"
            android:exported="false"
            android:parentActivityName=".presentation.ui.Login"
            android:theme="@style/Theme.changeScreen" />
        <activity
            android:name=".presentation.ui.ChangeNickname"
            android:exported="false"
            android:label="닉네임 변경"
            android:parentActivityName=".presentation.ui.AccountSetting"
            android:theme="@style/Theme.changeScreen" />
        <activity
            android:name=".presentation.ui.ChangePassword"
            android:exported="false"
            android:label="비밀번호 변경"
            android:parentActivityName=".presentation.ui.AccountSetting"
            android:theme="@style/Theme.changeScreen" />
        <activity
            android:name=".presentation.ui.AccountSetting"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".presentation.ui.MainMenu"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Diary_Result_Edit"
            android:exported="false"
            android:theme="@style/Theme.Main"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Diary_Result"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Old_Reflection"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".presentation.ui.TraumaDiaryEmotion"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Old_Thought"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Old_Situation"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Record_Result"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".New_Reflection"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".New_Thought"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".New_Situation"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".presentation.ui.TodayDiaryEmotion"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".presentation.ui.RecordMindChoice"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".Diary"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".EmotionInstructions"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".presentation.ui.MainPage"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".presentation.ui.Login"
            android:exported="true"
            android:parentActivityName=".presentation.ui.MainActivity"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".presentation.ui.Join"
            android:exported="false"
            android:parentActivityName=".presentation.ui.MainActivity"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".presentation.ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>